<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TypedDataSet.Properties.Settings.DataTestConnectionString"
            connectionString="Data Source=.;Initial Catalog=DataTest;Persist Security Info=True;User ID=sa;Password=imadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>